#define FV_FILE_DESCRIPTION "OpenEVV SAPI5 text-to-speech engine"
#define FV_INTERNAL_NAME "OpenEvvSAPI"
#define FV_ORIGINAL_FILENAME "OpenEvvSAPI.dll"
#define FV_FILE_TYPE VFT_DLL
#include "../common/version.rc"
